{% load static %}
<div class="card-item-2">
    <a href="{% url "medico:Gerenciar-Profissionais" %}">
    {% if card == "profissional" %}
        {% if info_user %}
        <div class="card-profissional">
                <img src="{% static "assets/img/icons/medico.svg" %}" alt="">
                <div class="user">
                    <h1 class = "name">Dr. Kaio Moura</h1>
                    <p>Clínico geral</p>
                </div>
            </div>
        </a>
        {% endif %}
</div>
{% endif %}