{% load static %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'perfil/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'atendente/css/modal-paciente.css' %}">
<link rel="stylesheet" href="{% static 'atendente/css/modal_selecionar.css' %}">

<div class="card-item">
    {% if card == "agendamento" %}
        {% if data %}
        <div class="data-hr">
            <div class="data">
                <h2>Seg</h2>
                <h3>28</h3>
            </div>
            <hr>
        </div>
        {% endif %}
        {% if info_user %}
            <img src="{% static "assets/img/icons/medico.svg" %}" alt="">
            <div class="user">
                <p class = "name">Dr. Kaio Moura<p>
                <p>Clínico geral</p>
            </div>
        {% endif %}

        {% if info_user2 %}
            <img src="{% static "assets/img/icons/paciente.svg" %}" alt="">
            <div class="user">
                <p class = "name">José da Silva<p>
            </div>
        {% endif %}

        {% if horario %}
            <div class="horario">   
                <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
                <p>9:00h - 10:00h</p>
            </div>
        {% endif %}

        {% if horario2 %}
        <div class="horario-solicitar">
            <p>Horários de atendimento</p>
            <div class="horario">
                <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
                <p>9:00h - 10:00h</p>
            </div>
        </div>
        {% endif %}

        {% if lista_servico %}
            <div class="list-service">
                <img src="{% static "assets/img/icons/motivo.svg" %}" alt="">
                <P>Motivo da consulta</P>
            </div>
        {% endif %}

        {% if count_agendados %}
        <div class="count-solicitacoes">
            <div class="qtd-agendados">
                <p>10</p>
            </div>
            <p>Agendamentos</p>
        </div>
        {% endif %}

        {% if count_solicitacoes %}
        <div class="count-solicitacoes">
            <div class="qtd-solicitacoes">
                <p>3</p>
            </div>
            <p>Solicitações</p>
        </div>
        {% endif %}

        {% if button_indeferido %}
            <button class="button_indeferido" data-toggle="modal" data-target="#pacienteModal"><img src="{% static "assets/img/icons/info.svg" %}" alt=""></button>
        {% endif %}

        {% if button_indeferido2 %}
        <button class="button_indeferido2" data-toggle="modal" data-target="#pacienteModal2"><img src="{% static "assets/img/icons/info.svg" %}" alt=""></button>
    {% endif %}

        {% if button_whastApp %}
            <a href=""><img src="{% static "assets/img/icons/whatsappbutton.svg" %}" alt=""></a>
        {% endif %}
        {% if button_detalhar %}
            <a href="{% url "atendente:Agendamentos-Solicitacoes" %}"><button class="button-detalhar">Detalhar</button></a>
        {% endif %}

        {% comment %} 
            Reagendar e cancelar
        {% endcomment %}
        {% if edit %}
        <div class="menu2">
            <button class="button_edit" id="toggleMenu">
                <img src="{% static "assets/img/icons/edit.svg" %}" alt="">
            </button>
            <div class="dropdown-menu2">
                <a href="#">Reagendar</a>
                <a  id="cancel" href="#">Cancelar</a>
            </div>
        </div>
        
        {% endif %}
        
        {% comment %} 
            editar, excluir ou criar
        {% endcomment %}
        {% if edit2 %}
        <div class="menu2">
            <button class="button_edit" id="toggleMenu">
                <img src="{% static "assets/img/icons/edit.svg" %}" alt="">
            </button>
            <div class="dropdown-menu2">
                <a  id="agendar" data-toggle="modal" data-target="#myModal_selecionar">Agendar</a>
                <a href="#">Editar</a>
                <a  id="cancel" href="#">Excluir</a>
            </div>
            {% comment %} <button class="button_edit2" data-toggle="modal" data-target="#myModal_selecionar"><img src="{% static "assets/img/icons/edit.svg" %}" alt=""></button> {% endcomment %}
        {% endif %}

        {% if button_solicitar %}
            <button class="btn-card" data-toggle="modal" data-target="#myModal1">Solicitar</button>
        {% endif %}

        {% if button_recusar %}
            <button class="button-recusar">Recusar</button>
        {% endif %}

        {% if button_aceitar %}
            <button class="button-aceitar">Aceitar</button>
        {% endif %}
    </div>
    {% endif %}