{% load static %}
<div class="card-item">
        <div class="data">
            <h3>Seg</h3>
            <br>
            <h1>28</h1>
        </div>
        <img src="{% static "assets/img/icons/medico.svg" %}" alt="">
        <div class="user">
            <span><strong>Dr. Kaio Moura</strong></span>
            <p>Clínico geral</p>
        </div>
        <div class="horario">   
            <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
            <p> 9:00h - 10:00h</p>
        </div>
        <div class="list-service">
            <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
            <P>Motivo da consulta</P>
        </div>
        <a href=""><img src="{% static "assets/img/icons/whatsappbutton.svg" %}" alt=""></a>
        <a href=""><img src="{% static "assets/img/icons/edit.svg" %}" alt=""></a>
</div>