{% load static %}
<div class="card-item-paciente">
    <div class="foto-nome">
        <img src="{{ profissional.imagem.url }}" alt="Imagem" id="imagem-profissional">
        <div class="user">
            <p class="name-paciente" style="width: 400px;">{{ profissional.nome_medico }}</p>
            <p style="width: 100px;" >{{ profissional.especialidade }}</p>
        </div>
    </div>
    

    <div class="buttons">
        <a href = "#"><button class="button-editar">Editar</button></a>
        <a href = "#"><button class="button-excluir">Excluir</button></a>
    </div>
</div>
