{% load static %}
<div class="card-item-paciente">
    <div class="foto-nome">
        <div class="circle-avatar" id="patient-avatar">{{ paciente.nome_paciente.0 }}</div>
        <div class="user">
            <p class="name-paciente" >{{ paciente.nome_paciente }}</p>
            <p>{{ paciente.cpf_formatado }}</p>
            
        </div>
    </div>

    <div class="buttons">
        <a href = "{% url 'paciente:editar-paciente' id=paciente.id %}"><button class="lapis"><img src="{% static 'assets/img/icons/pencil.svg'%}" alt="lapis de edição">Editar</button></a>
        
        <a href = "{% url 'paciente:excluir-paciente' id=paciente.id %}"><button class="lixeira"><img src="{% static 'assets/img/icons/trash.svg'%}" alt="lixeira">Excluir</button></a>
    </div>
</div>

<script src="{% static 'paciente/js/foto-perfil.js' %}"></script>
