{% load static %}
<div class="card-item-paciente">
    <div class="foto-nome">
        <img src="{{ profissional.imagem.url }}" alt="Imagem" id="imagem-profissional">
        <div class="user">
            <p class="name-paciente" style="width: 400px;">{{ profissional.nome_medico }}</p>
            <p style="width: 100px;" >{{ profissional.especialidade }}</p>
        </div>
    </div>
    

    <div class="buttons">
        <a href = "#' id=paciente.id %}"><button class="lapis"><img src="{% static 'assets/img/icons/pencil.svg'%}" alt="lapis de edição">Editar</button></a>
        
        <a href = "{% url "medico:excluir-profissional" id=profissional.id %}"><button class="lixeira"><img src="{% static 'assets/img/icons/trash.svg'%}" alt="lixeira">Excluir</button></a>
    </div>
</div>
