{% load static %}
<footer>
    <div class="container-footer">
        <div class="logo-footer">
            <img src="{% static 'assets/img/icons/Logo-footer.svg' %}" alt="">
        </div>

        <div class="localizacao-footer">
            <img src="" alt="">
            <p>Serrinha dos Pintos, Rua Tomaz Sampaio, Centro</p>
        </div>
        
        <nav class="nav-footer">
            <ul style="list-style-type: none;">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100095119054539&locale=pt_BR" target="_blank">
                        <img src="{% static "core/assets/img/icons/facebook.png" %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/espacovivenciar1/?utm_source=ig_web_button_share_sheet&igshid=ODE2OTA4Y2Y1MQ==" target="_blank">
                        <img src="{% static "core/assets/img/icons/instagram.png" %}" alt="" >
                    </a>
                </li>
            </ul>
        </nav> 
    </div>
</footer>