{% load static %}
<footer>
    <div class="container-footer">
        <div class="logo-footer">
            <img src="{% static 'assets/img/icons/Logo-footer.svg' %}" alt="">
        </div>

        <div class="localizacao-footer">
            <img src="" alt="">
            <p>Serrinha dos Pintos, Rua Tomaz Sampaio, Centro</p>
        </div>
        
        <nav class="nav-footer">
            <ul style="list-style-type: none;">
                <li>
                    <a href="">
                        <img src="{% static "core/assets/img/icons/facebook.png" %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static "core/assets/img/icons/instagram.png" %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static "core/assets/img/icons/twitter.png" %}" alt="">
                    </a>
                </li>
            </ul>
        </nav> 
    </div>
</footer>