{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Style -->
<link rel="stylesheet" href="{% static 'core/assets/css/style.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/carousel.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<!-- Scripts -->
<script src="{% static "core/assets/js/index.js" %}" defer></script>

<title>Espaço Vivenciar {% block title %}{% endblock title %}</title>

