{% load static %}

<header>
    <div class="nav">
        <a href="{% url 'agenda_medico:Home' %}">
            <img class="home-logo" src="{% static 'assets/img/icons/Logo.svg' %}" alt="">
        </a>
        <div class="menu">
            <img class="home-icon" src="{% static 'assets/img/icons/admin.svg' %}">
            <div class="dropdown-menu">
                <a href="{% url 'medico:listar-profissionais' %}">Gerenciar Profissionais</a>
                <a href="{% url "paciente:listar-pacientes" %}">Gerenciar Pacientes</a>
                <a class = "sair-link" href="{% url 'core:Index' %}">Sair</a>
            </div>
        </div>
    </div>
</header>
