{% load static %}
<header>
    <div class="nav">
        <a href="{% url 'paciente:Home' %}">
            <img class="home-logo" src="{% static 'assets/img/icons/Logo.svg' %}" alt="">
        </a>
        <div class="menu">
            <img class="home-icon" src="{% static 'assets/img/icons/admin.svg' %}">
            <div class="dropdown-menu">
                <a href="{% url 'perfil:editar-paciente'%}">Meu Perfil</a>
                <a href="{% url 'perfil:listar-agendamentos' %}">Meus Agendamentos</a>

                <form class="sair-link" method='POST' action="{% url 'perfil:Logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="sair-link">Sair</button>
                </form>
            </div>
        </div>
    </div>
</header>
