{% extends "base/base_home.html" %}
{% include "perfil/modal.html" %}
{% load static %}
{% block main %}

    <div class="container">
         <div class="card-list">
            <div class="title">
                <h1>Meus Agendamentos</h1>
                <p>Outubro</p>
            </div>
            {% include "partials/cards.html" with card='agendamento' horario2=False button_solicitar=False button_whastApp=True %}
            {% include "partials/cards.html" with card='agendamento' horario2=False button_solicitar=False button_whastApp=True %}
            {% include "partials/cards.html" with card='agendamento' horario2=False button_solicitar=False button_whastApp=True %}
            <div class="title">
                <p>Novembro</p>
            </div>
            {% include "partials/cards.html" with card='agendamento' horario2=False button_solicitar=False button_whastApp=True %}
            {% include "partials/cards.html" with card='agendamento' horario2=False button_solicitar=False button_whastApp=True %}
            {% include "partials/cards.html" with card='agendamento' horario2=False button_solicitar=False button_whastApp=True %}
        
        </div>
    </div>
{% endblock main%}

