{% extends "base/base_home.html" %}
{% load static %}

{% block main_agendar %}
<div class="container">
    <div class="card-list">
        <div class="title">
            <h1>Fisioterapeuta</h1>
            <div class="data-alternada">
                <img src="{% static "assets/img/icons/left.svg" %}">
                <p>Outubro</p>
                <img src="{% static "assets/img/icons/right.svg" %}">
            </div>
        </div>
        {% include "partials/cards.html" with card='agendamento'  horario=False lista_servico=False edit=False %}
        {% include "partials/cards.html" with card='agendamento'  horario=False lista_servico=False edit=False %}
        {% include "partials/cards.html" with card='agendamento'  horario=False lista_servico=False edit=False %}
        {% include "partials/cards.html" with card='agendamento'  horario=False lista_servico=False edit=False %}
    </div>

{% endblock main_agendar %}