{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'perfil/css/cadastro-login.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/scroll.css'%}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <title>Espaço Vivenciar</title>
</head>
<body>
    <div class="login-card">
        <div class="container">
            <div class="title">
                <h1>Cadastre-se</h1>
            </div>
 
            <form method="POST" action="{% url 'perfil:Cadastro' %}">
                {% csrf_token %}
                <div class="form">
                    {{ form.perfiluser.email.label_tag }}
                    {{ form.perfiluser.email }}
                </div>
                <div class="form">
                    {{ form.perfiluser.password1.label_tag }}
                    {{ form.perfiluser.password1 }}
                </div>
                <div class="form">
                    {{ form.perfiluser.password2.label_tag }}
                    {{ form.perfiluser.password2 }}
                    {{ form.errors }}
                </div>
                <div class="form">
                    {{ form.pacienteuser.nome_paciente.label_tag }}
                    {{ form.pacienteuser.nome_paciente }}
                </div>
                <div class="form">
                    {{ form.pacienteuser.cpf_paciente.label_tag }}
                    {{ form.pacienteuser.cpf_paciente }}
                </div>
                <div class="form">
                    {{ form.pacienteuser.data_nascimento.label_tag }}
                    {{ form.pacienteuser.data_nascimento }}
                </div>
                <div class="content-label">
                    <div class="form">
                        {{ form.pacienteuser.genero.label_tag }}
                        {{ form.pacienteuser.genero }}
                    </div>
                    <div class="form">
                        {{ form.pacienteuser.contato_paciente.label_tag }}
                        {{ form.pacienteuser.contato_paciente }}
                    </div>
                </div>
                <div class="btn-continue">
                    <button type="submit" id="continuar-button">Continue</button>
                    <p>Já tem uma conta? <u><span class="btn-color"><a href="{% url "perfil:Login" %}"> Entrar</a></span></u></p>
                </div>
            </form>
        </div>
        <div class="img">
            <img src="{% static 'assets/img/img-cadastro.svg' %}" alt="">
        </div>
    </div>
</body>
</html>
