{% load static %}
<div class="card-item-hora">
      <div class = "card-first">
            <div class= 'card-first-1'>
                <div class="data-hr">
                    <div class="data2">
                        <h2> {{ agendamento.agenda.dia_da_semana }}</h2>
                        <h3>{{ agendamento.horario_selecionado.agenda_medica.data.day }}</h3>
                    </div>
                   
                    <hr id ='hr'>
                    
                    <div class="foto-nome">
                        <img src="{{ agendamento.agenda.profissional.imagem.url }}" alt="Imagem" id="imagem-profissional">
                        <div class="user">
                            <p class = "name">{{ agendamento.agenda.profissional.nome_medico}}<p>
                            <p class = 'especialidade'>{{ agendamento.agenda.profissional.especialidade}}</p>
                        </div>
                        </div>
                    
                    </div>
                    
                   
                </div>
                <div>
                    <p>{{agendamento.horario_selecionado.agenda_medica.servico.nome_servico}}</p>
                </div>
                <div class="horario-solicitar">
                    <p class="horario-atendimento">Horário agendado</p>
                    <div class="horario">
                        <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
                        <p class = 'hora'>{{ agendamento.horario_selecionado.inicio }}h  - {{ agendamento.horario_selecionado.fim}}h</p>
                    </div>
                </div>
                <a href="https://api.whatsapp.com/send?phone={{agendamento.agenda.profissional.contato_profissional}}"><img src="{% static "assets/img/icons/whatsappbutton.svg" %}" alt=""></a>
    </div>
</div>

<script src="{% static 'paciente/js/foto-perfil.js' %}"></script>
