{% extends "base/base_home.html" %}
{% load static %}
{% block main %}
<div class="container">
    <form >
        <h1>Meu Perfil</h1>
    <section class="card-info">
        <div class="card-header">
            <h2>Informações pessoais</h2>
            <a href="{% url 'perfil:editar-paciente' paciente_id=1 %}">
                <button id="editButton2">Editar</button>
            </a>
        </div>
        <div class="info-user">
            <div class="sections">
            <div class="section">
                <div class="campos">
                    <label for="nome">Nome</label>
                    <p>{{ paciente.nome_paciente }}</p>
                </div>
                <div class="campos">
                    <label for="data">Data de Nascimento</label>
                    <p>{{ paciente.data_nascimento }}</p>
                </div>
            </div>
                <div class="section">
                    <div class="campos">
                        <label for="gênero">Gênero</label>
                        <p>{{  paciente.get_genero_display_full }}</p>
                    </div>
                
                    <div class="campos">
                        <label for="e-mail">E-mail</label>
                        <p>{{ paciente.email }}</p>
                    </div>
                </div>

                <div class="section">
                    <div class="campos">
                        <label for="cpf">CPF</label>
                        <p>{{ paciente.cpf_paciente }}</p>
                    
                    </div>

                    <div class="campos">
                        <label for = "contato">Contato</label>
                        <p>{{ paciente.contato_paciente }}</p>
                </div>
            </div>
        </div>
        
    </section>
</form>
</div>
{% endblock main %}