{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'perfil/css/home.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/scroll.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <script src="{% static "perfil/js/index.js" %}" defer></script>
    <title>Espaço Vivenciar - Home</title>
</head>
<body>
    <header>
        <div class="nav">
            <img class="home-logo" src= "{% static "assets/img/icons/Logo.svg" %}" alt="">
            <img  class="home-icon" src="{% static "assets/img/icons/admin.svg" %}" >
        </div>
    </header>

    <main>
        <div class="container">
            <div class="home-info">
                <p>Bem-vindo(a), Maria da Silva!</p>
                <h1>Solicite um Agendamento</h1>
                <br>
                <p>Escolha um especialista e solicite seu <br> agendamento.</p>
            </div>

            <div class="home-img">
                <img src="{% static "assets/img/home-img.svg" %}" alt="">
            </div>
        </div>
        
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <ul class="carousel">
              <li class="card">
                <div class="img"><img src="{% static "assets/img/icons/medico.svg" %}" alt="img" draggable="false"></div>
                <h2>Clínico Geral</h2>
                <p>Dr. Kaio Moura</p>
                <button class="btn-card">Solicitar</button>
              </li>
              <li class="card">
                <div class="img"><img src="{% static "assets/img/icons/medico.svg" %}" alt="img" draggable="false"></div>
                <h2>Clínico Geral</h2>
                <p>Dr. Kaio Moura</p>
                <button class="btn-card">Solicitar</button>
              </li>
              <li class="card">
                <div class="img"><img src="{% static "assets/img/icons/medico.svg" %}" alt="img" draggable="false"></div>
                <h2>Clínico Geral</h2>
                <p>Dr. Kaio Moura</p>
                <button class="btn-card">Solicitar</button>
              </li>
              <li class="card">
                <div class="img"><img src="{% static "assets/img/icons/medico.svg" %}" alt="img" draggable="false"></div>
                <h2>Clínico Geral</h2>
                <p>Dr. Kaio Moura</p>
                <button class="btn-card">Solicitar</button>
              </li>
            </ul>
            <i id="right" class="fa-solid fa-angle-right"></i>
          </div>
    </main>
</body>
</html>