{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'perfil/css/cadastro-login.css'%}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <title>Espaço Vivenciar</title>
    
</head>
<body class = 'body-login'>
    <div class="login-card">
        <div class="container">
            <div class="content-primeira-parte"> 
                <div class="title">
                    <h1>Entrar</h1>
                </div>
                <form method="POST">
                {% csrf_token %}
                <div class="form">
                    <label class='labels' for="e-mail">E-mail</label>
                    {{ form.username }}
                </div>
                <div class="form">
                    <label class='labels' for="cpf">Senha</label>
                    {{ form.password }}
                </div>
        
                <div class="btn-continue">
                    <button type="submit" id="continuar-button">Entrar</button>
                    <p>Não tem uma conta? <u><span class="btn-color"><a href="{% url "perfil:Cadastro" %}"> Cadastre-se</a></span></u></p>
                </div>
            </form>
            </div>
        </div>
            <div class="img">
                <img src="{% static 'assets/img/img-cadastro.svg' %}" alt="">
            </div>
        </div>
</body>
</html>