{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'perfil/css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/header.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'perfil/js/perfil.js' %}"></script>
    <title>Perfil</title>
</head>
<body>
    {% include "partials/header_icon.html" %}
    <div class="container">
        <h1>Meu Perfil</h1>

        <main>
            <section class="card-info">
                <div class="card-header">
                    <h2>Informações pessoais</h2>
                    <button id="editButton">Editar</button>
                </div>
                <div class="info-user">
                    <div class="first-section">
                        <div class="image-paciente">
                            <img src="{% static "assets/img/icons/paciente-perfil.svg" %}" alt="">
                        </div>
                        <div class="campos">
                            <label for="nome">Nome</label>
                            <p class="view-field">José Francisco da Silva</p>
                            <input type="text" class="edit-field" value="José Francisco da Silva" style="display: none;">
                        </div>
                        <div class="campos">
                            <label for="data">Data de Nascimento</label>
                            <p class="view-field">15/12/2002</p>
                            <input type="date" class="edit-field" value="1953-12-15" style="display: none;">
                        </div>
                    </div>
                    <div class="sections">
                        <div class="second-section">
                            <div class="campos">
                                <label for="gênero">Gênero</label>
                                <p class="view-field">Masculino</p>
                                <select class="edit-field" style="display: none;">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>
                            
                            <div class="campos">
                                <label for="e-mail">E-mail</label>
                                <p class="view-field">josedasilva@gmail.com</p>
                                <input type="text" class="edit-field" value="josedasilva@gmail.com" style="display: none;">
                            </div>
                        </div>
                        <div class="third-section">
                            <div class="campos">
                                <label for="cpf">CPF</label>
                                <p class="view-field">000.000.000-00</p>
                                <input type="text" class="edit-field" value="000.000.000-00" style="display: none;">
                            </div>
                            <div class="campos">
                                <label for="contato">Contato</label>
                                <p class="view-field">(84) 99999-9999</p>
                                <input type="text" class="edit-field" value="(84) 99999-9999" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="endereco">
                    <h2>Endereço</h2>
                </div>
                <div class="sections">
                    <div class="endereco-section">
                        <div class="campos">
                            <label for="cidade">Cidade</label>
                            <p class="view-field">Pau dos Ferros</p>
                            <input type="text" class="edit-field" value="Pau dos Ferros" style="display: none;">
                        </div>
                        <div class="campos">
                            <label for="bairro">Bairro</label>
                            <p class="view-field">Centro</p>
                            <input type="text" class="edit-field" value="Centro" style="display: none;">
                        </div>
                    </div>
                    <div class="endereco-section">
                        <div class="campos">
                            <label for="rua">Rua</label>
                            <p class="view-field">Rua da Independencia</p>
                            <input type="text" class="edit-field" value="Rua da Independencia" style="display: none;">
                        </div>
                        <div class="campos">
                            <label for="number">Número</label>
                            <p class="view-field">150</p>
                            <input type="text" class="edit-field" value="150" style="display: none;">
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
