{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cards.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/header.css' %}">
    <link rel="stylesheet" href="{% static "atendente/css/cadastro-paciente.css" %}">
    <link rel="stylesheet" href="{% static 'perfil/css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'medico/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pagination.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    

    <!-- Scripts -->
    <script src="{% static "perfil/js/index.js" %}" defer></script>
    <script src="{% static "medico/js/modal.js" %}" defer></script>
    

    <script src="{% static "perfil/js/index.js" %}" defer></script>
    <title>Espaço Vivenciar</title>
</head>
<body>
    {% include "partials/header_icon.html" %}

    {% block main %}
    
    {% endblock main %}

    {% block main_agendar %}
            
    {% endblock main_agendar %}
    
</body>
</html>