{% load static %}
<div class="card-item-hora">
    
    <div class = "card-first">
    <div class="data-hr">
        <div class="data">
            <h2>{{ agenda.dia_semana_abreviado }}</h2>
            <h3>{{ agenda.data.day }}</h3>
        </div>
        <hr>
    </div>

    <div class="user">
        <p class = "name">{{ agenda.profissional.nome_medico}}<p>
        <p>{{ agenda.profissional.especialidade}}</p>
    </div>

    <div class="horario-solicitar">
        <p class="horario-atendimento">Tempo de duração</p>
        <div class="horario">
            <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
            <p>{{ horario.inicio }}h  - {{ horario.fim}}h</p>
        </div>
    </div>
</div>

<div class="space-buttons">
    <div class="buttons">
        <a href = "#' "><button class="lapis"><img src="{% static 'assets/img/icons/pencil.svg'%}" alt="lapis de edição">Editar</button></a>
        <a href = "#"> <button class="lixeira"><img src="{% static 'assets/img/icons/trash.svg'%}" alt="lixeira">Excluir</button></a>
    </div>
</div>

</div>

