{% load static %}
<div class="card-item {% if agenda.data == data_mais_proxima %} id="data-proxima" {% endif %}">
    <div class="data-hr">
        <div class="data">
            <h2>{{ agenda.dia_semana_abreviado }}</h2>
            <h3>{{ agenda.data.day }}</h3>
        </div>
        <hr>
    </div>
    <div class="horario-solicitar">
        <p class="horario-atendimento">Horários de atendimento</p>
        <div class="horario">
            <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
            <p>{{ agenda.horario_inicio }}h  - {{ agenda.horario_fim }}h</p>
        </div>
    </div>

    <div class="count-solicitacoes">
        <div class="qtd-agendados">
            <p>{{ agenda.agendamentos_count }}</p>
        </div>
        <p class= 'agenda-p'>Agendamentos</p>
    </div>

 
    <div class="count-solicitacoes">
        <div class="qtd-solicitacoes">
            <p>{{ agenda.solicitacoes_count }}</p>
        </div>
        <p class= 'agenda-p'>Solicitações</p>
    </div>

    <a href="{% url "agendamento:listar-agendamentos" agenda_pk=agenda.pk %}"><button class="button-detalhar">Detalhar</button></a>
    
    <div class="menu2">
        <button class="button_edit" id="toggleMenu">
            <img src="{% static "assets/img/icons/edit.svg" %}" alt="">
        </button>
        <div class="dropdown-menu2">
            <button onclick="window.location.href='{% url "agenda_medico:listar-horarios" agenda_id=agenda.id %}'">
                Ver Horários
            </button>
            
            <button  class='abrirModal5' id="cancel" hx-get="{% url 'agenda_medico:excluir-agenda' agenda_pk=agenda.pk %}" hx-trigger='click' hx-target='#modal5' hx-swap="innerHTML">Excluir</button>
        </div>
    </div>   

</div>

