{% load static %}
<div class="card-item {% if agenda.data == data_mais_proxima %} id="data-proxima" {% endif %}">
    <div class="data-hr">
        <div class="data">
            <h2>{{ agenda.dia_semana_abreviado }}</h2>
            <h3>{{ agenda.data.day }}</h3>
        </div>
        <hr>
    </div>
    <div class="horario-solicitar">
        <p class="horario-atendimento">Horários de atendimento</p>
        <div class="horario">
            <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
            <p>{{ agenda.horario_inicio }}h  - {{ agenda.horario_fim }}h</p>
        </div>
    </div>

    <div class="count-solicitacoes">
        <div class="qtd-agendados">
            <p>10</p>
        </div>
        <p>Agendamentos</p>
    </div>

 
    <div class="count-solicitacoes">
        <div class="qtd-solicitacoes">
            <p>3</p>
        </div>
        <p>Solicitações</p>
    </div>

    <a href="{% url "atendente:Agendamentos-Solicitacoes" %}"><button class="button-detalhar">Detalhar</button></a>
    
    <div class="menu2">
        <button class="button_edit" id="toggleMenu">
            <img src="{% static "assets/img/icons/edit.svg" %}" alt="">
        </button>
        <div class="dropdown-menu2">
            <a href="#">Ver Horários</a>
            <a  id="cancel" href="#">Excluir agenda</a>
        </div>
    </div>   

</div>

