{% extends "base/base_home_atendente.html" %}
{% load static %}
{% block cadastrar_agenda %}
    <div class="container">
        <div class="card-list">
            <div class="title">
                <h1>Agenda - {{ servico.nome_servico }}  </h1>
            </div>
            <div class="content">

                <div class="data-alternada">
                    <img src="{% static "assets/img/icons/left.svg" %}">
                    <p>Outubro</p>
                    <img src="{% static "assets/img/icons/right.svg" %}">
                </div>
                <div class="button-cadastrar-agenda">
                    <button class="btn-novaAgenda" data-toggle="modal" data-target="#myModal2">+ Nova agenda</button>
                </div>
            </div>
            {% for agenda in agendas %}
                    {% include "agenda_medico/card_agenda.html"   %}
                {% endfor %}

        </div>
    </div>
{% endblock cadastrar_agenda %}
