{% extends "base/base_home_atendente.html" %}
{% load static %}

{% block cadastrar_agenda %}
    <div class="container">
        <div class="card-list">
            <div class="title">
                <h1>Agenda - Clínico geral</h1>
                <div class="content">
                    <p>Outubro</p>
                    <div class=".button-cadastrar-agenda">
                        <button>+ Nova agenda</button>
                    </div>
                </div>
            </div>
            {% include "partials/cards.html" with card='agendamento' info_user=False horario=False lista_servico=False edit=True button_solicitar=False count_agendados=True count_solicitacoes=True button_detalhar=True  %}
        </div>
    </div>
{% endblock cadastrar_agenda %}