{% load static %}
{%include "atendente/modal2.html"%}
<link rel="stylesheet" href="{% static 'atendente/css/modal_selecionar.css' %}">
<div class="modal fade custom-modal" id="myModal_selecionar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Selecione um paciente</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="modal-main-content">
                    <section class="first-div2">
                        <input type="search" name="search" id=""  placeholder="Buscar Paciente">
    
                    <div class="card-listagem2">
                        <div class="listagem-pacientes">
                            <ul>
                                <li>
                                    <div class="card-paciente">
                                        <input type="radio" name="paciente" id="opcao1" value="opcao1">
                                        <label for="opcao1">
                                            <div class="paciente">
                                                <img src="{% static "assets/img/icons/admin.svg" %}" alt="Imagem do Paciente 2">
                                                <p><strong>Usuário</strong></p>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-paciente">
                                        <input type="radio" name="paciente" id="opcao2" value="opcao2">
                                        <label for="opcao2">
                                        <div class="paciente">
                                        <img src="{% static "assets/img/icons/paciente.svg" %}" alt="Imagem do Paciente 2">
                                        <p><strong>José Francisco da Silva</strong></p>
                                        </div>
                                </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-paciente">
                                        <input type="radio" name="paciente" id="opcao2" value="opcao2">
                                        <label for="opcao2">
                                            <div class="paciente">
                                                <img src="{% static "assets/img/icons/admin.svg" %}" alt="Imagem do Paciente 2">
                                                <p><strong>Usuário</strong></p>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-paciente">
                                        <input type="radio" name="paciente" id="opcao3" value="opcao3">
                                        <label for="opcao3">
                                            <div class="paciente">
                                                <img src="{% static "assets/img/icons/admin.svg" %}" alt="Imagem do Paciente 2">
                                                <p><strong>Usuário</strong></p>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-paciente">
                                        <input type="radio" name="paciente" id="opcao5" value="opcao5">
                                        <label for="opcao5">
                                            <div class="paciente">
                                                <img src="{% static "assets/img/icons/admin.svg" %}" alt="Imagem do Paciente 2">
                                                <p><strong>Usuário</strong></p>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="card-paciente">
                                        <input type="radio" name="paciente" id="opcao6" value="opcao6">
                                        <label for="opcao6">
                                            <div class="paciente">
                                                <img src="{% static "assets/img/icons/admin.svg" %}" alt="Imagem do Paciente 2">
                                                <p><strong>Usuário</strong></p>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                </div>
            </div>
            
            <div class="modal-footer">
                <form method="post" class="d-inline">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="button" class="btn-cancel" data-dismiss="modal">Cancelar</button>
                </form>
                <a href="">
                    <button class="btn-confirm" data-dismiss="modal" data-toggle="modal" data-target="#myModal1">Continuar</button> 
                </a>
            </div>
            
        </div>
    </div>
</div>
