{% load static %}

<div class="modal fade" id="pacienteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog-pacientes" role="document">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">Informações pessoais</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <section>
                  <div class="second-info">
                      <img src="{% static 'assets/img/icons/paciente-perfil.svg' %}" alt="imagem">
                      <div>
                          <label for="nome">Nome</label>
                          <p class="view-field">José Francisco da Silva</p>
                      </div>
                      <div>
                        <label for="data">Data de Nascimento</label>
                        <p class="view-field">15/12/2002</p>
                    </div>
                      <div>
                          <label for="gênero">Gênero</label>
                          <p class="view-field">Masculino</p>
                      </div>
                  </div>
                
                  <div class="third-info">
                      <div>
                          <label for="e-mail">E-mail</label>
                          <p class="view-field">josedasilva@gmail.com</p>
                      </div>
                      <div>
                          <label for="cpf">CPF</label>
                          <p class="view-field">000.000.000-00</p>
                      </div>
                      <div>
                        <label for="contato">Contato</label>
                        <p class="view-field">(84) 99999-9999</p>
                    </div>
                  </div>

                  <div class="endereco">
                      <h3>Endereço</h3>
                  </div>
                
                  <div class="igual">
                          <div>
                              <label for="cidade">Cidade</label>
                              <p class="view-field">Pau dos Ferros</p>
                          </div>
                          <div>
                            <label for="rua">Rua</label>
                            <p class="view-field">Rua da Independencia</p>
                        </div>
                  </div>

                    <div class="iguais">
                        <div>
                            <label for="bairro">Bairro</label>
                            <p class="view-field">Centro</p>
                        </div>
                        <div>
                            <label for="number">Número</label>
                            <p class="view-field">150</p>
                        </div>
                        <div>
                            <a href=""><img src="{% static "assets/img/icons/whatsappbutton.svg" %}"></a>
                        </div>
                    </div>
              </section>
          </div>
      </div>
</div>