* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
    list-style: none;
}

:root {
    --background-white: #F7F7F7;
    --green-base: #006650d3;
}

::selection {
    background-color: var(--green-base);
    color: var(--background-white);
}

.container-listagem {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.content-top h1 {
    color: var(--green-base);
    font-size: 40px;
}

.nav-add{
    display: flex;
    justify-content: space-between;
}
.first-div input{
    width: 32rem;
    height: 45px;
    background-color:  #E9E9E9;
    border-radius: 10px;
    background-image: url('static/assets/img/icons/icon _Search_.svg');
    background-repeat: no-repeat;
    background-position: 20px;
    padding-left: 50px;
}

input:focus
{
    outline-color: var(--green-base);
}

select:focus
{
    outline-color: var(--green-base);
}

.cadastrar-paciente-button {
    background-color: var(--green-base);
    border-radius: 30px;
    width: 180px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    color: var(--background-white);
}

.cadastrar-paciente-button:hover{
    opacity: 95%;
}

.pacientes-detalhados {
    background-color: white;
    filter: drop-shadow(0px 2.8px 2.8px rgba(0, 0, 0, 0.30));
    width: 37.5rem;
    height: auto;
    border-radius: 20px;
    /* overflow-y: scroll; */
}

#titulo-cadastro {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 50px;

}
.card-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-gerenciar-pacientes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
}

.card-listagem {
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 450px;
    height: 580px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px
}

.listagem-pacientes {
    height: 100%;
    margin-top: 65px;
}

.listagem-pacientes::-webkit-scrollbar {
    width: 10px;
}

.listagem-pacientes::-webkit-scrollbar-thumb {
    background-color: rgb(167, 167, 167);
    border-radius: 20px;
    height: 30px;
}

.listagem-pacientes .card-paciente {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    height: 60px;
    display: flex;
    align-items: center;
}

.centralizar
{
    display: flex;
    justify-content: center;
}
.card-paciente:hover
{
    border-radius: 10px;
    background-color: #cccccc22;
    cursor: pointer;
}

.listagem-pacientes .card-paciente img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}


.view-field {
    color: #999797;
}


h1 {
    font-size: 40px;
    color: var(--green-base);
}

h2 {
    font-size: 24px;
    color: var(--green-base);
}

label {
    font-size: 16px;
    font-weight: 500;
}

/* Estilos para campos de visualização e edição */
.view-field {
    font-size: 16px;
    color: var(--dark-grey);
}

.edit-field {
    min-width: 14rem;
    font-size: 14px;
    color: var(--dark-grey);
    border: 1px solid #ccc; 
    padding: 10px;
    border-radius: 10px;
    
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 20px;
}

.first-section {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-width: 200px;
    flex-wrap: wrap;
}

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    gap: 20px;
    flex-wrap: wrap;
}

.endereco {
    margin-top: 4rem;
    flex-wrap: wrap;
}

.sections {
    display: flex;
    gap: 100px;
    margin-top: 1.4rem;
}

.campos {
    gap: 15px;
}

.endereco-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-width: 200px;
}

.servicos-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-width: 200px;
}

#editButton {
    background-color: white;
    color: var(--green-base);
    border: 2px solid var(--green-base);
    font-weight: 600;
    border-radius: 30px;
    width: 116px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-excluir
{
    background-color: rgb(227, 2, 2);
    /* border: 2px solid var(--green-base); */
    border-radius: 30px;
    width: 116px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.buttons
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.circle-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #3498db; 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
}

#imagem-profissional
{
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
    border-radius: 50%;
}
