* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
}

:root {
    --background-white: #F7F7F7;
    --green-base: #006650d3;
}

::selection {
    background-color: var(--green-base);
    color: var(--background-white);
}

body {
    background-color: var(--background-white);
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

header {
    width: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 6.25rem;
    /* 50px */
    margin-right: 6.25rem;
    /* 100px*/
    width: auto;

}