* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
}

:root {
    --background-white: #F7F7F7;
    --green-base: #006650d3;
}

::selection {
    background-color: var(--green-base);
    color: var(--background-white);
}

body {
    background-color: var(--background-white);
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    overflow-x: hidden;
}

input:focus
{
    outline-color: var(--green-base);
}

select:focus
{
    outline-color: var(--green-base);
}