{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'perfil/css/cadastro.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/scroll.css'%}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <title>Espaço Vivenciar</title>
</head>
    <div class="login-card">
        {% block content %}
        
        {% endblock content %}
    </div>
</body>
</html>