{% extends "base/base.html" %}

{% load static %}
{% block content %}
<main>
    <section class = "conteudo-cadastro" >
        <div class = "text">
            <h1>Sempre cuidando da sua saúde e bem-estar</h1>
            <p>Agora você pode agendar suas consultas totalmente <br>online de forma prática e rápida!</p>
            <a href="{% url "perfil:Cadastro" %}"><button type="button" class="register-button">Cadastre-se</button></a>
        </div>
        <div class = "image-doctors">
            <img src="{% static "assets/img/3d-business-young-doctors-standing-together-1.svg" %}" alt="imagem do main">
        </div>
    </section>


      
</main>
{% endblock content%}