{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'atendente/css/novo-profissional.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'medico/css/modal.css' %}">
    <script src="{% static 'medico/js/modal.js' %}"></script>
    <link rel="stylesheet" href="{% static 'perfil/css/modal.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Gerenciar Profissionais</title>
</head>
<body>
    {% include "partials/header_icon_atendente.html" %}
    <div class="container">
        <h1>Cadastrar Profissional</h1>
        <main>
            <section class="card-info">
                    {% csrf_token %}
                    <div class="card-header">
                        <h2>Informações pessoais</h2>
                        <div>
                            <a href = "{% url 'medico:editar-profissional' profissional_pk=profissional.pk %}">
                                <button id="salvarButton">Editar</button>
                            </a>
                        </div> 
                    </div>
                    <div class="info-user">
            
                        <img src="{{ profissional.imagem.url }}" alt="Imagem" id="imagem-profissional">
                           
                            <div>
                            <div class="first-section">
                                <div class="campos">
                                    <label for="nome">Nome</label>
                                    <p>{{ profissional.nome_medico }}</p>
                                </div>
                                <div class="campos">
                                    <label for="data">Registro Profissional</label>
                                    <p>{{ profissional.numero_registro }}</p>
                                </div>
                            </div>
                        <div class="sections">
                            <div class="second-section">
                                <div class="campos">
                                    <label for="e-mail">Especialidade</label>
                                    <p>{{ profissional.especialidade }}</p>
                                </div>
                            </div>
                            <div class="third-section">
                                <div class="campos">
                                    <label for="contato">Contato</label>
                                    <p>{{ profissional.contato_profissional }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  
            </section>
    

<section class="card-info">
    <div class="card-header">
        <h2>Serviços Oferecidos</h2>
        <button class="add-service" id="abrirModal" hx-get={% url 'medico:criar-servico' profissional_pk=profissional.pk %} hx-trigger='click' hx-target='#modal' hx-swap="innerHTML">
            <i class="ph ph-user-circle-plus"></i>
            Novo Serviço
          </button> 

        <dialog class="cadastro-de-paciente" id="myModal">
            <div id="modal">
            </div>
        </dialog>

        <dialog class="cadastro-de-paciente" id="myModal2">
            <div id="modal2">
            </div>
        </dialog>

    </div>
    <div>
        <section class="servicos-section">
            <table>
                <tbody>
                    {% for servico in servicos %}
                        <tr>

                            <td>{{ servico.nome_servico }}</td>
                            <td>Duração: {{ servico.duracao_horas }}h {{ servico.duracao_minutos }}min</td>
                            <td> <div class="buttons">

                                <button class="lapis" id="abrirModal2" hx-get={% url 'medico:editar-servico' profissional_pk=profissional.pk servico_pk=servico.pk %} hx-trigger='click' hx-target='#modal2' hx-swap="innerHTML">
                                    <img src="{% static 'assets/img/icons/pencil.svg'%}" alt="lapis de edição">
                                  </button> 
                                
                                <a href="{% url 'medico:excluir-servico' servico_pk=servico.pk profissional_pk=profissional.pk%}"><button class="lixeira"><img src="{% static 'assets/img/icons/trash.svg'%}" alt="lixeira"></button></a>
                            </div>
                        </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</section>
</main>
</div>
</body>
</html>