{% load static %}

<div class="modal fade custom-modal" id="modalAddService" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">Adicione um novo serviço</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <form method="post" action="{% url 'medico:criar-servico' %}" class="form-inline">
                    {% csrf_token %}
                    {{ form.as_bootstrap }}
                    <div class="modal-footer">
                        <button type="button" class="btn-cancel" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn-confirm">Confirmar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
