{% load static %}
<div class="conteudo-modal">
  <p class="titulo-modal">Criar paciente</p> 
  <form class="formulario-paciente" id="formAdicionarServico" method="post" action="{% url 'medico:criar-servico' profissional_pk=profissional_pk %}">

    {% csrf_token %}
    {{ form }}
    
    <div class="footer-modal-criar-paciente">
      <button class="fecharModal" type="button" >Cancelar</button>
      <button id="botao-salvar-paciente" type="submit">Salvar</button>
    </div>
  </form>

 </div> 
<script src="{% static 'medico/js/modal.js' %}"></script>

