{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'atendente/css/novo-profissional.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'medico/css/modal.css' %}">
    <script src="{% static 'medico/js/modal.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'perfil/css/modal.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Gerenciar Profissionais</title>
</head>
<body>
    {% include "partials/header_icon_atendente.html" %}
    <div class="container">
        <h1>Cadastrar Profissional</h1>
    
            <section class="card-info">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-header">
                        <h2>Informações pessoais</h2>
                        <div class="buttons">
                            <button id="salvarButton">Salvar</button>
                            <button id="button-cancelar"><a href="#">Cancelar</a></button>
                        </div>
                    </div>
                    <div class="info-user">
            
                        {{ form.imagem }}
                           
                            <div>
                            <div class="first-section">
                                <div class="campos">
                                    <label for="nome">Nome</label>
                                    <p>{{ form.nome_medico }}</p>
                                </div>
                                <div class="campos">
                                    <label for="data">Registro Profissional</label>
                                    <p>{{ form.numero_registro }}</p>
                                </div>
                            </div>
                        <div class="sections">
                            <div class="second-section">
                                <div class="campos">
                                    <label for="e-mail">Especialidade</label>
                                    <p>{{ form.especialidade }}</p>
                                </div>
                            </div>
                            <div class="third-section">
                                <div class="campos">
                                    <label for="contato">Contato</label>
                                    <p>{{ form.contato_profissional }}</p>
                                </div>
                            </div>
                        </div>
                  
                </form>
            </section>
    

    </div>
    </div>

</body>
</html>

