{% load static %}
{%include "medico/modal_add_service.html"%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'perfil/css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'perfil/css/header.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'perfil/js/perfil.js' %}"></script>
    <script src="{% static 'atendente/js/novo-profissional.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'perfil/css/modal.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Gerenciar Profissionais</title>
</head>
<body>
    {% include "partials/header_icon_atendente.html" %}
    <div class="container">
        <h1>Gerenciar Profissionais</h1>
        <main>
            <section class="card-info">
                <div class="card-header">
                    <h2>Informações pessoais</h2>
                    <div class="buttons">
                        <button id="editButton">Editar</button>
                        <button id="button-excluir"><a href="{% url "medico:Cadastrar-Profissionais" %}">Excluir</a></button>
                    </div>
                </div>
                <div class="info-user">
                    <div class="first-section">
                        <div class="image-paciente">
                            <img src="{% static "assets/img/icons/medico-grande.svg" %}" alt="">
                        </div>
                        <div class="campos">
                            <label for="nome">Nome</label>
                            <p class="view-field">Kaio Moura</p>
                            <input type="text" class="edit-field" value="Kaio Moura" style="display: none;">
                        </div>
                        <div class="campos">
                            <label for="data">Data de Nascimento</label>
                            <p class="view-field">01/10/1984</p>
                            <input type="date" class="edit-field" value="1984-01-10" style="display: none;">
                        </div>
                    </div>
                    <div class="sections">
                        <div class="second-section">
                            <div class="campos">
                                <label for="e-mail">Especialidade</label>
                                <p class="view-field">Clínco Geral</p>
                                <input type="text" class="edit-field" value="Clínco Geral" style="display: none;">
                            </div>
                        </div>
                        <div class="third-section">
                            <div class="campos">
                                <label for="contato">Contato</label>
                                <p class="view-field">(84) 99999-9999</p>
                                <input type="text" class="edit-field" value="(84) 99999-9999" style="display: none;">
                            </div>
                    </div>
                </div>
            </div>
            </section>

            <section class="card-info">
                <div class="card-header">
                    <h2>Serviços Oferecidos</h2>
                    <button id="add-service" data-toggle="modal" data-target="#modalAddService"> + Adicionar Serviço</button>
                </div>
                <div class="sections">
                    <section class="servicos-section">
                        <ul id="lista-servicos">
                            <li> Consulta (30min)<button class="delete-service" style="display: none;">x</button></li>
                        </ul>
                        <input type="text" id="novo-servico" placeholder="Novo Serviço">
                    </section>
                </div>
            </section>
        </main>
    </div>
</body>
</html>

