* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
}

:root {
    --background-white: #F7F7F7;
    --green-base: #006650d3;
}

::selection {
    background-color: var(--green-base);
    color: var(--background-white);
}

body {
    background-color: var(--background-white);
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
}

header img {
    cursor: pointer;
}

header .nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    /* 100px*/
    width: auto;
}

header
{
    width: 100vw;
}

.home-logo {
    width: 10.87rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 6.25rem;
    /* 50px */
    margin-right: 6.25rem;
    /* 100px*/
    width: auto;
    
}
footer .logo-footer img
{
    width: 10.87rem;
}


header .nav .login-button {
    background-color: var(--green-base);
    color: white;
    width: 120px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

header button a {
    color: #ffffff;
}

main {
    margin-top: 3.125rem;
    /* 50px */
}

main h1 {
    color: var(--green-base);
    font-size: 50px;
    width: 39.375rem;
    /* 630px */
    word-wrap: break-word;
    font-style: normal;
    font-weight: 600;
}

.conteudo-cadastro p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

main  .conteudo-cadastro{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 6.25rem;
    /* 100px */
    margin-right: 6.25rem;
    width: auto;
}

main .text {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    /* 50px  */
}

main .register-button {
    width: 14.5rem;
    /* 145px  */
    height: 3.43rem;
    background-color: var(--green-base);
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

main button a {
    color: #ffffff;
}

main .image-doctors {
    margin-right: 6.25rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    width: 80%;
    position: relative;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.wrapper i {
    margin: auto;
    cursor: pointer;
    font-size: 2.25rem;
    text-align: center;
    line-height: 50px;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 50px;
    border-radius: 20px;
    scroll-behavior: smooth; /* Altere aqui para smooth para obter uma rolagem suave ou defina em outro valor */
    scroll-behavior: 10s;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 19.40rem;
    width: 15.47rem;
    list-style: none;
    background: #fff;
    cursor: pointer;
    flex-direction: column;
    border-radius: 20px;
}

.carousel .card h2 {
    font-weight: bold;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card p {
    text-align: center;
}


footer {
    background-image: url('../img/footer.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6.25rem;
}

footer .container-footer {
    
    background-size: contain;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
    min-height: 30rem;
}

footer .localizacao-footer {
    color: #ffffff;
    text-align: center;
    margin-right: 6.25rem;
    margin-left: 6.25rem;
}

footer nav ul {
    display: flex;
}

footer nav ul li {
    margin: 20px;
}

@media screen and (max-width: 900px) {
    /* MEDIA QUERYS */
    @media screen and (max-width: 900px) {
        .wrapper .carousel {
            grid-auto-columns: calc((100% / 2) - 9px);
        }
    }
    
    @media screen and (max-width: 600px) {
        .wrapper .carousel {
            grid-auto-columns: 100%;
        }
    }
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
    
    footer {
        background-image: url('../img/footer.svg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

