* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
}

:root {
    --background-white: #F7F7F7;
    --green-base: #006650d3;
}

::selection {
    background-color: var(--green-base);
    color: var(--background-white);
}

body {
    background-color: var(--background-white);
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

header {
    width: auto;
}

header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 3.125rem; /* 50px */
    margin-right: 6.25rem; /* 100px*/
    width: auto;

}

header .nav .login-button {
    background-color: var(--green-base);
    color: white;
    width: 120px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

header button a {
    color: #ffffff;
}

header img {
    height: 150px;
    margin-left: 3rem; /* 40px */
}

main {
    margin-top: 3.125rem; /* 50px */
}

main h1 {
    color: var(--green-base);
    font-size: 50px;
    width: 39.375rem; /* 630px */
    word-wrap: break-word;
    font-style: normal;
    font-weight: 600;
}

main p {
    font-size: 22px;
    width: 39.375rem; /* 630px */
    font-style: normal;
    font-weight: 400;
}

main section {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 6.25rem; /* 100px */
    margin-right: 6.25rem;
    width: auto;
}

main .text {
    display: flex;
    flex-direction: column;
    gap: 3.125rem; /* 50px  */
}

main .register-button {
    width: 14.5rem; /* 145px  */
    height: 3.43rem;
    background-color: var(--green-base);
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

main button a {
    color: #ffffff;
}

main .image-doctors {
    margin-right: 6.25rem;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 200px;
}

.wrapper i {
    margin: auto;
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child{
    left: -22px;
}

.wrapper i:last-child{
    right: -22px;
    
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 40px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 20px;
    
}

.carousel .card .img {
    background: transparent;

    border-radius: 50%;
}


.carousel .card h2 {
    font-weight: bold;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card p {
    text-align: center;
}

footer {
    background-color: var(--green-base);
}

footer .container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: auto;
    height: 250px;
    margin-top: 6.25rem; 
}

footer .localizacao-footer {
    color: #ffffff;
    text-align: center;
}

footer nav ul {
    display: flex;
}

footer nav ul li {
    margin: 20px;
}

/* MEDIA QUERYS */
@media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }