{% extends "base/base_home_atendente.html" %}
{% load static %}

{% block solicitacoes_atendente %}
<div class="container">
    <div class="card-list">
        <div class="title">
            <h1>Agenda - {{ servico.nome_servico }}</h1>
        </div>

        <ul class="nav-tab-menu">
            <li class="tab-item {% if tipo_modelo == 'agendamento' %}active{% endif %}" data-tab="agendamentos" id="button-agendamentos">
                <a href="?tipo_modelo=agendamento">
                    <div class="tab-menu">
                        <div class="qtd-agendados">
                            <p>{{ count_agendamentos }}</p>
                        </div>
                        <p>Agendamentos</p>
                    </div>
                </a>
            </li>

            <li class="tab-item {% if tipo_modelo == 'solicitacao' %}active{% endif %}" data-tab="solicitacoes" id="button-solicitacoes">
                <a href="?tipo_modelo=solicitacao">
                    <div class="tab-menu">
                        <div class="qtd-solicitacoes">
                            <p>{{ count_solicitacoes }}</p>
                        </div>
                        <p>Solicitações</p>
                    </div>
                </a>
            </li>
        </ul>

        <div class="tab-content" id="agendamentos">
            {% for item in itens %}
                {% if is_agendamento %}
                    {% include "agendamento/card_agendamento.html" with item=item %}
                {% else %}
                    {% include "agendamento/card_solicitacao.html" with item=item %}
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabButtons = document.querySelectorAll(".tab-item");
        const agendamentos = document.getElementById("agendamentos");
        const solicitacoes = document.getElementById("solicitacoes");

        tabButtons.forEach(button => {
            button.addEventListener("click", () => {
                tabButtons.forEach(b => b.classList.remove("active"));
                button.classList.add("active");

                const tabId = button.getAttribute("data-tab");

                if (tabId === "agendamentos") {
                    agendamentos.style.display = "block";
                    solicitacoes.style.display = "none";
                } else if (tabId === "solicitacoes") {
                    agendamentos.style.display = "none";
                    solicitacoes.style.display = "block";
                }
            });
        });
    });
</script>
{% endblock solicitacoes_atendente %}
