{% load static %}
<div class="card-item-hora">
      <div class = "card-first">
            <div class= 'card-first-1'>
                <div class="data-hr">
                    <div class="data2">
                        <h2> {{ item.horario_selecionado.agenda_medica.dia_semana_abreviado }}</h2>
                        <h3>{{ item.horario_selecionado.agenda_medica.data.day }}</h3>
                    </div>
                    <hr id ='hr'>
                    
                    <div class="foto-nome">
                        <div class="circle-avatar" id="patient-avatar">{{ item.paciente.nome_paciente.0 }}</div>
                            <div class="user">
                                <p class="name-paciente" >{{ item.paciente.nome_paciente }}</p>
                                <p>{{ item.paciente.cpf_paciente }}</p>
                            </div>
                        </div>
                    </div>
                 
                </div>
                <div class="horario-solicitar">
                    <p class="horario-atendimento">Tempo de duração</p>
                    <div class="horario">
                        <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
                        <p class = 'hora'>{{ item.horario_selecionado.inicio }}h  - {{ item.horario_selecionado.fim}}h</p>
                    </div>
                </div>
    </div>
</div>

<script src="{% static 'paciente/js/foto-perfil.js' %}"></script>
