* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
:root {
  --background-white: #F7F7F7;
  --green-base: #006650d3;
}

::selection {
  background-color: var(--green-base);
  color: var(--background-white);
}

body {
  
  background-image: url('../img/background.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.form
{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
  width: 68.75rem; /* 1100 / 16 */
  height: 48.75rem; /* 700 / 16 */
  border-radius: 50px;
  
}

.title{
  color: var(--green-base);
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 150px;

}

.edit-field {
  min-width: 14rem;
  font-size: 14px;
  color: var(--dark-grey);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;

}

form input {
  min-width: 14rem;
  font-size: 14px;
  color: var(--dark-grey);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;

}

.edit-field:focus {
  outline-color: var(--green-base);
}

form input {
  outline-color: var(--green-base);
}

.segunda-parte {
  width: 400px;

}

.content-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-label input 
{
  width: 190px;
}

.content-label select
{

    min-width: 14rem;
    font-size: 14px;
    color: var(--dark-grey);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.btn-continue {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.btn-continue p
{
  color: var(--green-base);
  font-size: 16px;
  margin-top: 20px;
}

.btn-color a{
  color: var(--green-base);
}

.btn-continue button{
  background-color: var(--green-base);
  width: 380px;
  height: 50px;
  color: var(--background-white);
  font-size: 16px;
  border-radius: 10px;
  border: 2px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-continue > button > a {
  color: var(--background-white);
  text-decoration: none;
}

span {
  font-weight: 700;
  color: var(--green-base);
}

.voltar-button {
  cursor: pointer;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .container-login{
    flex-direction: column;
    width: 90%; /* ou qualquer valor apropriado para telas menores */
    margin: 50px auto;
  }

 .img
  {
    display: none;
  }
}
