* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
}

:root {
    --background-white: #F7F7F7;
    --green-base: #006650d3;
}

::selection {
    background-color: var(--green-base);
    color: var(--background-white);
}

body {
    background-color: var(--background-white);
    width: 100vw;
    max-width: 2000px;
    margin: 0 auto;
    overflow-x: hidden;
}


main {
    margin-top: 3.125rem;
    /* 50px */
}

.home-info h1 {
    margin-top: 20px;
    color: var(--green-base);
    font-size: 45px;
}

.home-info p {
    font-size: 22px;
    width: 39.375rem;
    /* 630px */
    font-style: normal;
    font-weight: 400;
    color: black;
}


.container
{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    width: auto;
}

.btn-card {
    background-color: var(--green-base);
    color: var(--background-white);
    border-radius: 30px;
    width: 134px;
    height: 35px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
