* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


:root {
    --background-white: #F7F7F7;
    --green-base: #006650d3;
}

::selection {
    background-color: var(--green-base);
    color: var(--background-white);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--background-white);
    width: 1200px;
    height: 700px;
    border-radius: 50px;
}

.title-login{
    color: var(--green-base);
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.content-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 150px;
  
}

.form-login {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 15px 0px;
}

.form-login input {
    border-radius: 5px;
    border: 5px #cfcfcf65 ;
    width: 380px;
    height: 50px;
    padding: 30px;
}

.btn-entrar {
    text-align: center;
}

.btn-entrar a {
    color: var(--background-white);
}
  
.btn-entrar button {
    background-color: var(--green-base);
    width: 380px;
    height: 50px;
    color: var(--background-white);
    font-size: 18px;
    border-radius: 10px;
    border: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
