* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
}

:root {
    --background-white: #F7F7F7;
    --green-base: #006650d3;
    --dark-grey: #616161;
}

::selection {
    background-color: var(--green-base);
    color: var(--background-white);
}

body {
    background-color: var(--background-white);
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    width: auto;
}

form {
    display: flex;
    justify-content: center;
}

.card-info {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    max-width: 45rem;
    height: auto;
    /* Ajuste a altura para se ajustar ao conteúdo */
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    filter: drop-shadow(0px 3.3px 3.3px rgba(32, 32, 32, 0.3));
    margin-top: 50px;
}

h1 {
    font-size: 40px;
    color: var(--green-base);
}

h2 {
    font-size: 26px;
    color: var(--green-base);
}

label {
    font-size: 16px;
    font-weight: 500;
}

/* Estilos para campos de visualização e edição */
.view-field {
    font-size: 16px;
    color: var(--dark-grey);
}


.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    min-width: 200px;
    flex-wrap: wrap;
}


.endereco {
    margin-top: 4rem;
    flex-wrap: wrap;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 1.4rem;
}

.campos {
    gap: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.endereco-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-width: 200px;
}

.servicos-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-width: 200px;
}

#editButton {
    background-color: white;
    color: var(--green-base);
    border: 2px solid var(--green-base);
    font-weight: 600;
    border-radius: 30px;
    width: 134px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-excluir {
    background-color: rgb(227, 2, 2);
    /* border: 2px solid var(--green-base); */
    font-weight: 600;
    border-radius: 30px;
    width: 134px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-excluir a {
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#add-service {
    background-color: white;
    color: var(--green-base);
    border: 2px solid var(--green-base);
    font-weight: 600;
    border-radius: 30px;
    width: 160px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos-section ul {
    list-style-type: none;
}

.servicos-section li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.delete-service {
    color: var(--dark-grey);
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-service:hover {
    opacity: 90%;
}


.delete-service {
    display: none;
    /* Oculto por padrão */
}

#novo-servico {
    min-width: 10rem;
    max-width: 20rem;
    min-height: 2.18rem;
    border: 0.95px solid #D9D9D9;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
    display: none;
    /* Inicialmente, oculte os campos de edição */
}

input:focus {
    outline-color: var(--green-base);
}

select:focus {
    outline-color: var(--green-base);
}

.lixeira {
    font-size: 16px;
    color: rgb(227, 2, 2);
    background-color: transparent;
    font-weight: 600;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.lapis {
    font-size: 16px;
    color:  var(--green-base);
    background-color: transparent;
    font-weight: 600;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.lapis:hover
{
    opacity: 80%;
}

.lixeira:hover
{
    opacity: 80%;
}