* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
}

:root {
    --background-white: #F7F7F7;
    --green-base: #006650d3;
    --dark-grey: #616161;
}

::selection {
    background-color: var(--green-base);
    color: var(--background-white);
}

body {
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 55rem;
    /* Defina uma largura máxima para o contêiner de perfil */
    margin-bottom: 100px;
}

.card-info {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    max-width: 55rem;
    height: 40rem;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    filter: drop-shadow(0px 3.3px 3.3px rgba(32, 32, 32, 0.3));

}

h1 {
    font-size: 40px;
    margin-bottom: 50px;
    color: var(--green-base);
}

h2 {
    font-size: 26px;
    color: var(--green-base);
}

label {
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 16px;
    color: var(--dark-grey);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.first-section {
    display: flex;
    gap: 150px;
    align-items: center;
    flex-wrap: wrap;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-width: 200px;
    flex-wrap: wrap;
}

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    gap: 20px;
    flex-wrap: wrap;
}

.endereco {
    margin-top: 4rem;
    flex-wrap: wrap;
}

.sections {
    display: flex;
    gap: 150px;
    margin-top: 1.4rem;

}

.campos {
    gap: 15px;
}

.endereco-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    min-width: 200px;
}

.card-header button {
    background-color: white;
    color: var(--green-base);
    border: 2px solid var(--green-base);
    font-weight: 600;
    border-radius: 30px;
    width: 134px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}