
<div class="card-item-hora1">
    <div class = "card-first3">{% load static %}
    <div class= 'card-first-1'>

        <div class="data-hr">
            <div class="data">
                <h2>{{ agenda.dia_semana_abreviado }}</h2>
                <h3>{{ agenda.data.day }}</h3>
            </div>
            <hr>
        </div>
            <div class="user">
                <p class = "name">{{ agenda.profissional.nome_medico}}<p>
                <p class = 'especialidade'>{{ agenda.profissional.especialidade}}</p>
            </div>
        </div>
    <div class="horario-solicitar">
        <p class="horario-atendimento">Horários de atendimento</p>
        <div class="horario">
            <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
            <p>{{ agenda.horario_inicio }}h  - {{ agenda.horario_fim }}h</p>
        </div>
    </div>

</div>
<a  href="{% url "paciente:listar-horarios-atendimento" agenda_id=agenda.id %}"><button class="button-detalhar2">Detalhar</button></a>
        
    </div>



