{% load static %}
<div class="card-item-hora">
    <div class = "card-first">
            <div class= 'card-first-1'>
            <div class="data-hr">
                <div class="data2">
                    <h2>{{ dia_semana_abreviado }}</h2>
                    <h3>{{ agenda.data.day }}</h3>
                </div>
                <hr id ='hr'>
            </div>

            <div class="user">
                <p class = "name">{{ agenda.profissional.nome_medico}}<p>
                <p class = 'especialidade'>{{ agenda.profissional.especialidade}}</p>
            </div>
    </div>

    <div class="horario-solicitar">
        <p class="horario-atendimento">Tempo de duração</p>
        <div class="horario">
            <img src="{% static "assets/img/icons/hora.svg" %}" alt="">
            <p class = 'hora'>{{ horario.inicio }}h  - {{ horario.fim}}h</p>
        </div>
    </div>
</div>

<div class="space-buttons">
    <div class="buttons">
        <button onclick=window.location.href="{% url 'agendamento:solicitar-agendamento' horario_pk=horario.pk %}" id="lapis">
            <img src="{% static 'assets/img/icons/CalendarPlus.svg' %}"  alt="lapis de edição">Solicitar
        </button>
        
    </div>
</div>
</div>
