{% extends "base/base_home_atendente.html" %}
{% load static %}
{% block gerenciar_pacientes %}
<div class="centralizar">
<form method="post">
    {% csrf_token %}
    <section class="card-info">
        <div class="card-header">
            <h2>Informações pessoais</h2>
            <button type="submit" id="editButton">Salvar</button>
        </div>
        <div class="info-user">
            <div class="sections">
            <div class="section">
                <div class="campos">
                    <label for="nome">Nome</label>
                    {{ form.nome_paciente }}
                </div>
                <div class="campos">
                    <label for="data">Data de Nascimento</label>
                    {{ form.data_nascimento }}
                </div>
            </div>
                <div class="section">
                    <div class="campos">
                        <label for="gênero">Gênero</label>
                        {{ form.genero }}
                        </select>
                    </div>
                
                    <div class="campos">
                        <label for="e-mail">E-mail</label>
                        {{ form.email }}
                    </div>
                </div>

                <div class="section">
                    <div class="campos">
                        <label for="cpf">CPF</label>
                        {{ form.cpf_paciente }}
                        {{ form.cpf_paciente.errors }}
                    </div>

                    <div class="campos">
                        <label for = "contato">Contato</label>
                        {{ form.contato_paciente }}
                </div>
            </div>
        </div>
        <div class="endereco">
            <h2>Endereço</h2>
        </div>
        <div class="sections">
            <div class="endereco-section">
                <div class="campos">
                    <label for="cidade">Cidade</label>
                    
                </div>
                <div class="campos">
                    <label for="bairro">Bairro</label>
                    
                </div>
            </div>
            <div class="endereco-section">
                <div class="campos">
                    <label for="rua">Rua</label>
                   
                </div>
                <div class="campos">
                    <label for="number">Número</label>
                    
                </div>
            </div>
        </div>
    </section>
</form>
</div>
{% endblock gerenciar_pacientes %}