{% extends "base/base_home_atendente.html" %}
{% load static %}
{% block gerenciar_pacientes %}
<div class="container">
    <form method="post">
    {% csrf_token %}
        <h1>Cadastrar Paciente</h1>
    <section class="card-info">
        <div class="card-header">
            <h2>Informações pessoais</h2>
            <button type="submit" id="editButton">Salvar</button>
        </div>
        <div class="info-user">
            <div class="sections">
                <div class="section">
                    <div class="campos">
                        <label for="nome">Nome</label>
                        {{ form.pacienteuser.nome_paciente }}
                    </div>
                    <div class="campos">
                        <label for="data">Data de Nascimento</label>
                        {{ form.pacienteuser.data_nascimento }}
                    </div>
                </div>
                
                <div class="section">
                    <div class="campos">
                        <label for="gênero">Gênero</label>
                        {{ form.pacienteuser.genero }}
                    </div>
                
                    <div class="campos">
                        <label for="e-mail">E-mail</label>
                        {{ form.perfiluser.email }}
                    </div>
                </div>

                <div class="section">
                    <div class="campos">
                        {{ form.perfiluser.password1.label_tag }}
                        {{ form.perfiluser.password1 }}
                    </div>
                    <div class="campos">
                        {{ form.perfiluser.password2.label_tag }}
                        {{ form.perfiluser.password2 }}
                    </div>
                </div>
                
                <div class="section">
                    <div class="campos">
                        <label for="cpf">CPF</label>
                        {{ form.pacienteuser.cpf_paciente }}
                        {{ form.pacienteuser.cpf_paciente.errors }}
                    </div>
                
                    <div class="campos">
                        <label for="contato">Contato</label>
                        {{ form.pacienteuser.contato_paciente }}
                    </div>
                </div>
        </div>
        
    </section>
</form>
</div>
{% endblock gerenciar_pacientes %}