{% extends "base/base_home.html" %}
{% load static %}
{% block main %}

{% if messages %}
                <script>
                    window.alert("{% for message in messages %}{{ message }}\n{% endfor %}");
                </script>
{% endif %}
</div>
<div class="container">
    <div class="card-list">
        <div class="title">
            <h1>Agenda - {{ servico.nome_servico }}  </h1>
        </div>
        <div class="content">
            
                
                <div class="data-alternada">
                    <p>Dezembro</p>
                </div>
                
                    
                </div>

                {% for agenda in agendas %}
                    {% include "paciente/card-agenda.html"   %}
                {% endfor %}

        </div>

    </div>
{% endblock main %}
